.card {
    background: #fff;
    margin-top: 24px;
    @include shadow;

    &-header {
        padding: 8px 12px;
        @include font-size(14);
        // font-weight: bold;
        border-bottom: 1px solid #eee;
        color: #fff;
        background: $maincolor;
    }

    &-body {
        padding: 12px;
        @include font-size(14);
        line-height: 1.6;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 12px;
            line-height: 1.4;

            b {
                font-weight: bold
            }
        }

        h1 {
            @include font-size(32);
            font-weight: bold;
        }

        h2 {
            @include font-size(20);
            padding-bottom: 6px;
            border-bottom: 2px solid #eee;
        }

        h3 {
            @include font-size(16);
            font-weight: bold;
        }

        h4 {
            @include font-size(16);
            padding-bottom: 6px;
            border-bottom: 2px solid #eee;
        }

        h5 {
            @include font-size(14);
            font-weight: bold;
        }

        h6 {
            @include font-size(14);
            padding-bottom: 6px;
            border-bottom: 2px solid #eee;
        }
    }

    &-footer {
        background: #eee;
        color: #6c757d;
        padding: 20px;
        @include font-size(14);

        a {
            color: #406b9c;
            text-decoration: underline;
        }
    }
}
