.list-hr {
  background: 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(200, 200, 200, .4);
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
