.login {
    &__box {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        min-width: 380px;

        @include SP {
            max-width: 90%;
            min-width: 0;
            width: 100%;
        }

        >h1 {
            margin: auto;
            width: 320px;
            height: auto;
            margin-bottom: 50px;
            position: relative;

            // border-radius: 100%;
            // @include shadow;
            // overflow: hidden;
            svg,
            img,
            span {
                position: absolute;
            }

            span {
                @include font-size(18);
                font-weight: bold;
                position: absolute;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%, -50%));
                z-index: 1;
                width: 100%;
                color: #6c757d;
                text-align: center;
            }

            svg,
            img {
                left: 50%;
                top: 50%;
                @include transform(translate(-50%, -50%));
                width: 100%;
            }
        }

        &--inner {
            background: #fff;
            border-top: 2px solid $maincolor;
            border-radius: 3px;
            padding: 20px;
            margin-top: 32px;
            @include shadow;

            >h2 {
                color: #6c757d;
                @include font-size(15);
                font-weight: bold;
            }
        }
    }

    &__copy {
        text-align: center;
        color: #6c757d;
        @include font-size(12);
        margin-top: 32px;
    }
}
