@charset "UTF-8";
@import "../utility/variable";

.note-term {
	border: 1px solid #ededed;
	background: #f5f5f5;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: 700;
	padding: 14px 18px;
	margin-top: 20px;
	.txt {
		font-size: 14px;
		margin-bottom: 5px;
	}
	ul {
		li {
			color: #909090;
			padding-left: 12px;
			line-height: 1.8;
			position: relative;
			&:before {
				content: "・";
				position: absolute;
				left: 0;
			}
			a {
				text-decoration: underline;
				font-weight: 400;
			}
		}
	}
}
